
/.vs

/Debug_Win32
/Debug_Win64
/Release_Win32
/Release_Win64

/Project8.ncb
/Project8.suo
/Project8.vcproj.*.user

/Project10.sdf
/Project10.suo
/Project10.opensdf
/Project10.vcxproj.user

/Project16.vcxproj.user
